.ee-border {
	border: 1px solid #DDDDDD;
}

.ee-header .uk-search-default .uk-search-input {
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	height: 35px;
}
.ee-header .uk-search-default .uk-inline {
	width: 100%;
	border: 1px solid #DDDDDD;
}
